@charset "utf-8";

@page {
	margin : 24px 20px 10px 20px;
}
div, span, h1, h2, h3, h4, h5, h6, p, img, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	column-count: 1;
	-webkit-column-count: 1;
	-epub-column-count: 1;
}
body {
	font-size: 100%;
	font-family: serif;
}
p.empty {
	text-indent: 0;
}

.boekstaaf { font-size: 12px; margin: 5px; color: #303030; display: none; text-decoration: none; border-bottom-color: #373733; background: #303032; border: 1px solid; border-top-color: #393830; vertical-align: top; padding: 0px;  } 